<!-- ko if: (visible()) -->
<div class="billing-tax-detail">
    <!--ko if: (checkUsingFullTaxInvoice()) -->
    <!--ko if: (checkUsingPersonal()) -->
    <!-- ko text: getBilling().extensionAttributes.invoice_type --><!-- /ko --><br />
    <!-- ko text: 'Tax ID: '--><!-- /ko --><!-- ko text: getBilling().extensionAttributes.tax_identification_number -->
    <!-- /ko --><br />
    <!-- ko text: getBilling().extensionAttributes.personal_firstname --><!-- /ko --><br />
    <!-- ko text: getBilling().extensionAttributes.personal_lastname --><!-- /ko --><br />
    <!-- /ko -->
    <!--ko if: (!checkUsingPersonal()) -->
    <!-- ko text: getBilling().extensionAttributes.invoice_type --><!-- /ko --><br />
    <!-- ko text: 'Tax ID: '--><!-- /ko --><!-- ko text: getBilling().extensionAttributes.tax_identification_number -->
    <!-- /ko --><br />
    <!-- ko text: getBilling().extensionAttributes.company --><!-- /ko --><br />
    <!-- ko if: (!getBilling().extensionAttributes.branch_office) -->
    <!-- ko text: 'Head Office '--><!-- /ko --><br />
    <!-- /ko -->
    <!-- ko if: (getBilling().extensionAttributes.branch_office) -->
    <!-- ko text: 'Branch ID: '--><!-- /ko --><!-- ko text: getBilling().extensionAttributes.branch_office -->
    <!-- /ko --><br />
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</div>
<!--ko if: (checkUsingFullTaxInvoice()) -->
<!-- ko text: getBilling().extensionAttributes.tax_identification_number --><!-- /ko --><br />
<!-- /ko -->
<!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko --> <!-- ko text: address().middlename --><!-- /ko -->
<!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --><br />
<!-- ko text: address().street --><!-- /ko --><br />
<!-- ko if: (address().customAttributes) -->
<!-- ko text: address().customAttributes.subdistrict --><!-- /ko -->,
<!-- /ko -->
<!-- ko text: address().city --><!-- /ko -->, <span
        data-bind="html: address().region"></span> <!-- ko text: address().postcode --><!-- /ko --><br />
<!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br />
<!-- ko if: (address().telephone) -->
<a data-bind="text: address().telephone, attr: {'href': 'tel:' + address().telephone}"></a>
<!-- /ko --><br />
<!-- /ko -->
