<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_CustomAddress::custom_address" title="Custom Address" module="Tigren_CustomAddress"
             sortOrder="20"
             resource="Tigren_CustomAddress::custom_address"/>
        <add id="Tigren_CustomAddress::region" title="Manage regions" module="Tigren_CustomAddress" sortOrder="10"
             action="custom_address/region/index" resource="Tigren_CustomAddress::region"
             parent="Tigren_CustomAddress::custom_address"/>
        <add id="Tigren_CustomAddress::city" title="Manage cities" module="Tigren_CustomAddress" sortOrder="20"
             action="custom_address/city/index" resource="Tigren_CustomAddress::city"
             parent="Tigren_CustomAddress::custom_address"/>
        <add id="Tigren_CustomAddress::subdistrict" title="Manage Subdistricts" module="Tigren_CustomAddress" sortOrder="30"
             action="custom_address/subdistrict/index" resource="Tigren_CustomAddress::subdistrict"
             parent="Tigren_CustomAddress::custom_address"/>
        <add id="Tigren_CustomAddress::zipcode" title="Manage ZipCodes" module="Tigren_CustomAddress" sortOrder="40"
             action="custom_address/zipcode/index" resource="Tigren_CustomAddress::zipcode"
             parent="Tigren_CustomAddress::custom_address"/>
    </menu>
</config>
