<?xml version="1.0"?>
<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_Events::events" title="Events" module="Tigren_Events" sortOrder="20"
             resource="Tigren_Events::events"/>
        <add id="Tigren_Events::manage_events" title="Manage Events" module="Tigren_Events" sortOrder="0"
             parent="Tigren_Events::events" resource="Tigren_Events::manage_events" action="events/event"/>
        <add id="Tigren_Events::manage_categories" title="Manage Categories" module="Tigren_Events" sortOrder="0"
             parent="Tigren_Events::events" resource="Tigren_Events::manage_categories" action="events/category"/>
        <add id="Tigren_Events::settings" title="Settings" module="Tigren_Events" sortOrder="0"
             parent="Tigren_Events::events" resource="Tigren_Events::settings"
             action="adminhtml/system_config/edit/section/events"/>
    </menu>
</config>
