<div class="checkout-billing-address">
    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}" />
        <label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span
                data-bind="i18n: 'Use the same address as the shipping address.'"></span></label>
    </div>

    <!-- ko if: (!isAddressSameAsShipping()) -->
    <render args="detailsTemplate"></render>
    <!-- Inline address form -->
    <render args="billingFormTemplate"></render>
    <!--/ko-->
</div>
