<div class="billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress()">
    <div class="address-selection">
        <address>
            <strong class="name">
                <!-- ko text: currentBillingAddress().prefix --><!-- /ko -->
                <!-- ko text: currentBillingAddress().firstname --><!-- /ko -->
                <!-- ko text: currentBillingAddress().middlename --><!-- /ko -->
                <!-- ko text: currentBillingAddress().lastname --><!-- /ko -->
            </strong>
            <!-- ko text: currentBillingAddress().suffix --><!-- /ko -->
            <!-- ko text: _.values(currentBillingAddress().street).join(", ") --><!-- /ko -->
            <!-- ko if: (currentBillingAddress().customAttributes) -->
            <!-- ko text: currentBillingAddress().customAttributes.subdistrict --><!-- /ko -->,
            <!-- /ko -->
            <!-- ko text: currentBillingAddress().city --><!-- /ko -->,
            <span data-bind="html: currentBillingAddress().region"></span>
            <!-- ko text: currentBillingAddress().postcode --><!-- /ko -->,
            <!-- ko text: currentBillingAddress().countryId --><!-- /ko -->,
            <!-- ko if: (currentBillingAddress().telephone) -->
            <span data-bind="i18n: 'Tel:'"></span>
            <a data-bind="text: currentBillingAddress().telephone, attr: {'href': 'tel:' + currentBillingAddress().telephone}"></a>
            <!-- /ko -->
        </address>
    </div>
</div>
